// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

h1, h2, h3, h4, h5, .navbar-brand {
	color: $gray;
	font-family: 'Varela Round', sans-serif;
}

.entry-content h2 {
	border-bottom: 2px solid $orange;	
	margin-top: 25px;
	margin-bottom: 12px;
	display: block;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	color: #424242;
	line-height: 1.3em;
}

/*navbar stuff*/
.navbar {
	padding: 0;
}

.navbar-brand {
	font-size: 1.8em;
	font-weight: 800;
	padding-left: 10px;
}

.dna-small {
	height: 60px;
}

.navbar-dark .navbar-nav .nav-link  {
	color: #fff;
}

.menu-item {
	border-bottom: 2px solid $blue;
}

.current-menu-item {
	border-bottom: 2px solid $orange;
}

/*main content elements*/


.entry-content .nav-button h2 {
	font-size: 1.5em;
	border-bottom: none;
	background-color: $orange;
	color: #fff;
	padding: 20% 20px;
	height: auto;
	display: block;	
	margin-bottom: 30px;
	transition: .3s all;
	text-align: center;
}

.entry-content .nav-button h2:hover {
	background-color: $gray;	
}

.entry-content .nav-button a:hover {
	text-decoration: none;
}

.list-box {
	margin: 30px 5px;
    //border: 1px solid $light-blue;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19)
}

.list-box ul {
	list-style-type: none;
	font-size: 1.3em;
	margin-left: 25px;
	padding-left: 0;
	margin-top: 20px;
	margin-bottom: 20px
}

.list-box li {
	margin-bottom: 10px
}

.list-box li::before {
	font-family: "FontAwesome"; 
	font-weight: 900; 
	content: "\f101";
	margin-right: 10px;
	color: $orange;
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 45px;
}


.btn-primary a {
	color: #fff;
}

.progress-row {
	padding: 15px;
}

.progress-box {	
	margin-top: 20px;
	padding: 30px 20px 20px 30px;
	background-color: $blue;
	border-radius: 15px;	
}

.progress-box::before {
  /*content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-sizing: border-box;
  border: 5px solid $orange;
  transform: translate(10px, 10px);
  transition: transform 150ms;
  border-radius: 15px;*/
}

.progress-box h3 {
	color: $light-blue;
}

.progress-box p{	
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	font-size: 1.2em;
}

/*Fancy Images*/

.img-frame {
	position: relative;
}

.img-frame img {
	mix-blend-mode: hard-light;
	filter: saturate(0);
}

.img-frame.wash::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;  
}

.img-frame.orange{
	background-color: $orange;
}

.img-frame.blue{
	background-color: $blue;
}

.img-frame.light-blue{
	background-color: $light-blue;
}

/*watermark*/

.img-frame.watermark {
	background-image: url('../imgs/simple_sqr.svg');
	background-repeat: no-repeat;	
}

.img-frame.watermark.b-right{
	 background-position: bottom 20px right 20px;
}

.img-frame.watermark.t-right{
	 background-position: top 20px right 20px;
}

.img-frame.watermark.b-left{
	 background-position: bottom 20px left 20px;
}
.img-frame.watermark.t-left{
	 background-position: top 20px left 20px;
}


/*buttons*/

.btn-coga {
	display: block;
	margin: 20px auto;
}

/*sidebar*/
.widget-area aside {
	margin-top: 30px;
	margin-bottom: 20px;
}

.widget-area ul {
	list-style-type: none;
	margin-left: 5px;
	padding-left: 0;
}

.widget-area li::before{
	font-family: FontAwesome;
    font-weight: 900;
    content: "\f101";
    margin-right: 10px;
    color: #ff462d;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transition: .5s;
    position: absolute;
    left: 22px;
}

.widget-area li:hover::before{
	left: 26px;
}

.widget-area li{
	padding-left: 15px;
	margin-bottom: 5px;
}

.widget-area li a {
	padding: 0 10px 0 10px;
	display: block;
}

.widget-area li a:hover{
	background-color: #fff;
	text-decoration: none;
}

/*footer*/

#wrapper-footer{
	padding: 0;
}

#wrapper-footer-full, #wrapper-static-hero {
	border-top: 3px solid #efefef;
	background-color: #efefef;
	color: $blue;
}

#footer-full-content {
	padding-top: 50px;
}

#wrapper-footer-full h3, #wrapper-static-hero h3 {
	color: #fff;
} 