// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

h1, h2, h3, h4, h5, .navbar-brand {
	color: $gray;
	font-family: 'Varela Round', sans-serif;
}

.entry-content h2 {
	border-bottom: 2px solid $orange;	
	margin-top: 25px;
	margin-bottom: 12px;
	display: block;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	color: #424242;
	line-height: 1.3em;
}

/*navbar stuff*/
.navbar {
	padding: 0;
}

.navbar-brand {
	font-size: 1.8em;
	font-weight: 800;
	padding-left: 10px;
}

.dna-small {
	height: 60px;
}

.navbar-dark .navbar-nav .nav-link  {
	color: #fff;
}

.menu-item {
	border-bottom: 2px solid $blue;
}

.current-menu-item {
	border-bottom: 2px solid $orange;
}

/*main content elements*/


.entry-content .nav-button h2 {
	border-bottom: none;
	background-color: $orange;
	color: #fff;
	padding: 20% 20px;
	height: auto;
	display: block;	
	margin-bottom: 30px;
	transition: .3s all;
	text-align: center;
	border-radius: 10px;
}

.entry-content .nav-button h2:hover {
	background-color: $gray;	
}

.entry-content .nav-button a:hover {
	text-decoration: none;
}

.list-box {
	margin: 30px 5px;
    //border: 1px solid $light-blue;
    padding: 30px;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    // -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19)
    background-color: #fff;
    height: 100%;
    border-radius: 10px;
}

.list-box ul {
	list-style-type: none;
	font-size: 1.3em;
	margin-left: 25px;
	padding-left: 0;
	margin-top: 20px;
	margin-bottom: 20px
}

.list-box li {
	margin-bottom: 12px;
	line-height: 1.3;
}

.list-box li::before {
	font-family: "FontAwesome"; 
	font-weight: 900; 
	content: "\f101";
	margin-right: 10px;
	color: $orange;
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 60px;
}

.list-box i {
	margin-right: 15px;
}


.btn-primary a {
	color: #fff;
}

.progress-row {
	padding: 15px;
}

.progress-box {	
	margin-top: 20px;
	padding: 30px 20px 20px 30px;
	background-color: $blue;
	border-radius: 15px;	
}

.progress-box::before {
  /*content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-sizing: border-box;
  border: 5px solid $orange;
  transform: translate(10px, 10px);
  transition: transform 150ms;
  border-radius: 15px;*/
}

.progress-box h3 {
	color: $light-blue;
}

.progress-box p{	
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	font-size: 1.2em;
}

.super-text {
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	font-size: 5em;
}

/*ROWS*/

.full-width-div {
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 padding-top: 50px;
 padding-bottom: 150px;
 padding-left: 20px;
 padding-right: 20px;
 left: 50%;
}

.row-orange {
	background-color: $orange;
}

.row-blue{
	background-color: $blue;
}

.row-light-blue {
	background-color: $light-blue;
}


/*site specific*/
.site-logo {
	margin: 30px auto;
	display: block;
}

.site-title {
	margin: 20px 0;
}



/*researcher specific*/

.site-researchers h2{
	margin-bottom: 40px;
}

.researcher-square  {
	margin-bottom: 30px;
}

/*Fancy Images*/

.img-frame {
	position: relative;
	margin-bottom: 20px;
}

.img-frame img {
	mix-blend-mode: hard-light;
	filter: saturate(0);
}

.img-frame.wash::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;  
}

.img-frame.orange{
	background-color: $orange;
}

.img-frame.blue{
	background-color: $blue;
}

.img-frame.light-blue{
	background-color: $light-blue;
}

/*emoji circles*/
.big-emoji{
    width: 160px;
    height: 160px;
    padding: 10px;
    margin: -60px auto 20px auto;
    border-radius: 50%;
    display: block;
    background-color: #fff;
}
/*watermark*/

.img-frame.watermark {
	background-image: url('../imgs/simple_sqr.svg');
	background-repeat: no-repeat;	
}

.img-frame.watermark.b-right{
	 background-position: bottom 20px right 20px;
}

.img-frame.watermark.t-right{
	 background-position: top 20px right 20px;
}

.img-frame.watermark.b-left{
	 background-position: bottom 20px left 20px;
}
.img-frame.watermark.t-left{
	 background-position: top 20px left 20px;
}


/*buttons*/

.btn-coga {
	display: block;
	margin: 20px auto;
}

/*sidebar*/
.widget-area aside {
	margin-top: 30px;
	margin-bottom: 20px;
}

.widget-area ul {
	list-style-type: none;
	margin-left: 5px;
	padding-left: 0;
}

.widget-area li::before{
	font-family: FontAwesome;
    font-weight: 900;
    content: "\f101";
    margin-right: 10px;
    color: #ff462d;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transition: .5s;
    position: absolute;
    left: 22px;
}

.widget-area li:hover::before{
	left: 26px;
}

.widget-area li{
	padding-left: 15px;
	margin-bottom: 5px;
}

.widget-area li a {
	padding: 0 10px 0 10px;
	display: block;
}

.widget-area li a:hover{
	background-color: #fff;
	text-decoration: none;
}

/*order list*/
.big-icon img {
	width: 60%;
    height: 60%;
    margin: auto;
    display: block;
    border: 4px solid $light-blue;
    border-radius: 50%;
   // background-color: $light-blue;
    z-index: 1;  
}

.progress-row .col-md-6{
	border-right: 2px solid $gray;
}

/*vertical progression box*/
.progression-holder {
  margin: 40px auto; 
  background-color: #046b99;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.1);
  position: relative;
  z-index: -1;
}

.progression-holder h3 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #b3efff;
    font-size: 2em;
    font-family: 'Varela Round',sans-serif;
    margin-top: 30px;
}

.progression-item {
    padding: 40px;
    position: relative;
}

.final {
	border-bottom-right-radius: 15px; 
	border-bottom-left-radius: 15px; 
}

.progression-holder p {
  font-family: 'Varela Round',sans-serif;
    color: #fff;
    font-size: 1.2em;
}

.progression-holder .white {
  background-color: #fff; 
  position: relative;
}

.progression-holder .white.arrow:after {
  content: ''; 
  // border-left: 160px solid transparent;
  // border-right: 160px solid transparent;
  // border-top: 50px solid #fff;
  background-color: #fff;
  position: absolute;
  bottom: -40px;
  display: block;
  left: 25%;
  z-index: -1;
}


.progression-holder .white h3 {
  color: #4C4E53;
}

.progression-holder p {
	 z-index: 100;
	 display: inline-block;
}

.progression-holder .white p {
  color: #4C4E53; 
}


// .arrow:after {
//   content: '';
//   width: 0; 
//   height: 0; 
//   // border-left: 160px solid transparent;
//   // border-right: 160px solid transparent;
//   // border-top: 50px solid #046b99;
//   position: absolute;
//   bottom: -40px;
//   display: block;
//   left: 50%;
//   z-index: 10;
//   width: 80%; 
//   height: 150px; 
//    -ms-transform: rotate(45deg); /* IE 9 */
//   transform: rotate(45deg); /* Standard syntax */
//   z-index: 1;
// }

.vert-list-icon {
	width: 33%;
    background: #fff;
    margin: 20px auto;
    display: block;
    border-radius: 50%;
    border: 2px solid $blue;
}


//RESEARCHER GROUP DISPLAY

.researcher-group {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.29);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.29);
}

.researcher-group .card-body {
	height: 340px;
}


.researcher-group img {
	width: 100%;
	height: auto;
}


.researcher-group .researcher-name {
	margin: 12px 0 3px 0;
}

.researcher-group .researcher-title {
	margin-bottom: 3px;
	font-style: italic;
}

/*footer*/

#wrapper-footer{
	padding: 0;
}

#wrapper-footer-full, #wrapper-static-hero {
	border-top: 3px solid #efefef;
	background-color: #efefef;
	color: $blue;
}

#footer-full-content {
	padding-top: 50px;
}

#wrapper-footer-full h3, #wrapper-static-hero h3 {
	color: #fff;
} 

/*TEMP CSS DEPENDING ON KEEPING DISPLAY POSTS OR NOT ETC*/
.display-news-posts {
	margin-top: 60px;
}

.news-item {
	margin-bottom: 40px;
}

h3.news-title {
	font-size: 1.4em;
	display:block;
	font-family: 'Varela Round', sans-serif;
	color: #046b99;
}

.news-item .understrap-read-more-link {
	display: none;
}

#front-image {
	margin-top:-60px !important;
}

#top-row {
	padding-bottom: 50px;
}


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
	.full-width-div .col-md-6 {
		margin-bottom: 50px;
	}
	.list-box {
		margin-top: 70px;
	}
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {

}

