// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #046B99; // Thats a sample how you could change a BootStrap variable.
$orange: #FF462D;
$blue: #046B99;
$gray: #4C4E53;
$light-blue: #B3EFFF;
$off-white: #F9F9F9;
$orange-gold: #FFBF00;